{
    "presets": ["env", "react"],
    "env": {
        "production": {
            "presets": ["react-optimize"]
        },
        "test": {
            "presets": ["env", "react"]
        }
    }
}
